@using DealDynamo.Areas.Identity.Data
@using DealDynamo.Services
@using Microsoft.AspNetCore.Identity

@model DealDynamo.Models.Product

@inject UserManager<ApplicationUser> UserManager
@inject ICategoryRepository _categoryRepository

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Model.ProductImage" width="200"/>
        </dd>
        <dt class = "col-sm-2">
            Category
        </dt>
        <dd class = "col-sm-10">
            @_categoryRepository.GetCategoryById(Model.CategoryID).Title
        </dd>
        <dt class = "col-sm-2">
            Seller
        </dt>
        <dd class = "col-sm-10">
            @UserManager.FindByIdAsync(Convert.ToString(Model.SellerID)).GetAwaiter().GetResult().UserName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    @if(Model.Quantity > 0)
    {
        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model?.Id">Add To Cart</a>
    } else
    {
        <span class="badge text-bg-danger">Sold Out</span>
    }
    |
    @if(User.IsInRole("Buyer"))
    {
        <a asp-action="AddReview" asp-controller="Review" asp-route-id="@Model?.Id">Add Review</a> <text>|</text>
    }
    <a asp-action="Index">Back to List</a>
</div>
