@model DealDynamo.Models.Order

@{
    ViewData["Title"] = "Order Details";
}


<div class="container">
    <h1>Order Confirmation</h1>
    <div class="d-flex align-items-end justify-content-between">
        <h5 class="p-0 m-0">
            Your Order Id: @Model.Id
        </h5>
        <a asp-controller="Home" asp-action="Index">Continue Shopping</a>
    </div>
    <hr />
    <div class="d-flex align-items-start justify-content-between gap-3">
        <table class="table table-bordered table-striped">
            <thead>
                <th>Order Items</th>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td class="d-flex align-items-start gap-3">
                            <img src="~/images/@item.Product.ProductImage" alt="@item.Product.Title" width="100" height="100" />
                            <span>
                                <h5>@item.Product.Title</h5>
                                <ul>
                                    <li>Quantity: @item.Quantity</li>
                                    <li>Price: &#8377;@item.Product.Price</li>
                                    <li>Sub-Total Price: &#8377;@(item.Product.Price * item.Quantity)</li>
                                </ul>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="position-sticky top-0 w-50 h-100 bg-secondary p-4">
            <h6 class="text-start">Payment Details: </h6>
            <div>Order Total: @Model.TotalPrice</div>
            <div>Payment Status: @Model.Payment.Status</div>
            <div>Payment Date: @Model.Payment.PaymentDate</div>
            <div>Payment Mode: @if (Model.Payment.StripePaymentId != null)
                {
                    <text>Card</text>
                } else
                {
                    <text>COD</text>
                }
            </div>
            <hr/>

            <h6>Billing Address: </h6>
            <span>
                <div>
                    @Model.Address.HouseNumber
                </div>
                <div>
                    @Model.Address.Street
                </div>
                <div>
                    @Model.Address.City,
                </div>
                <div>
                    @Model.Address.Country,
                </div>
                <div>
                    @Model.Address.PostalCode
                </div>
            </span>
            <br/>

            <h6>Shipping To: </h6>
            <span>
                <div>
                    @Model.Address.HouseNumber
                </div>
                <div>
                    @Model.Address.Street
                </div>
                <div>
                    @Model.Address.City,
                </div>
                <div>
                    @Model.Address.Country,
                </div>
                <div>
                    @Model.Address.PostalCode
                </div>
            </span>

        </div>
    </div>
</div>
