@model DealDynamo.Models.ProductReview

@{
    ViewData["Title"] = "Edit Review";
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Review Update</h3>
            </div>
            <div>
                <div class="card-body">
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Rating)</label>
                        <input class="form-control" value="@Model.Rating">
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Comment)</label>
                        <textarea class="form-control">@Model.Comment</textarea>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.DateSubmitted)</label>
                        <input class="form-control" value="@Model.DateSubmitted.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Product.Title)</label>
                        <input class="form-control" value="@Model.Product.Title">
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.User.UserName)</label>
                        <input class="form-control" value="@Model.User.UserName">
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>


