@model DealDynamo.Models.ReviewViewModels.ReviewEditViewModel

@{
    ViewData["Title"] = "Edit Review";
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Review Update</h3>
            </div>
            <form asp-action="Edit" method="post">
                <div class="card-body">
                    <input type="hidden" asp-for="ID" />
                    <input type="hidden" asp-for="ProductID" />
                    <input type="hidden" asp-for="UserId" />
                    <div asp-validation-summary="All"></div>

                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Rating)</label>
                        <input asp-for="Rating" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.Comment)</label>
                        <textarea asp-for="Comment" class="form-control"></textarea>
                        <span asp-validation-for="Comment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.DateSubmitted)</label>
                        <input asp-for="DateSubmitted" class="form-control" readonly />
                        <span asp-validation-for="DateSubmitted" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.ProductTitle)</label>
                        <input class="form-control" asp-for="ProductTitle" readonly />
                        <span asp-validation-for="ProductTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Html.DisplayNameFor(model => model.UserName)</label>
                        <input class="form-control" asp-for="UserName" readonly />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" type="submit">Submit</button>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Details" asp-route-id="@Model.ProductID">Back to Product</a>
                    <a class="btn btn-danger" asp-controller="Review" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
